.rsg--body-0 {
    font-family: Helvetica, Arial, sans-serif;
}

.rsg--hasSidebar-2 {
    padding-left: 300px !important;
}

.rsg--sidebar-4 {
    width:300px !important;
}

.list > * {
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
}

.list.m-b-64 > * {
    margin-bottom: 64px;
}

.list.m-r-64 > * {
    margin-right: 64px;
}

.dark {
    margin: -16px;
    padding: 16px;
    background: #333333;
}

.inline {
    display: inline-block;
}

.popup-opener {
    cursor: pointer;
}

.popup-box {
    background: white;
    border: 1px solid #ccc;
    padding: 16px;
}