.rbo-components-rc-calendar {
  box-sizing: border-box;
}
.rbo-components-rc-calendar * {
  box-sizing: border-box;
}
.rbo-components-rc-calendar-hidden {
  display: none;
}
.rbo-components-rc-calendar-input-wrap {
  position: relative;
  padding: 6px;
  border-bottom: 1px solid #DFDFDF;
}
.rbo-components-rc-calendar-input-wrap:after {
  content: '';
  clear: both;
}
.rbo-components-rc-calendar-date-input-wrap {
  overflow: hidden;
}
.rbo-components-rc-calendar-time-picker {
  position: absolute;
  width: 100%;
  top: 34px;
  background-color: #FFFFFF;
  height: 217px;
}
.rbo-components-rc-calendar-time-picker-panel {
  width: 100%;
  position: relative;
}
.rbo-components-rc-calendar-time-picker-panel .rc-time-picker-panel-input-wrap {
  display: none;
}
.rbo-components-rc-calendar-time-picker-panel .rc-time-picker-panel-inner {
  border: none;
  box-shadow: none;
}
.rbo-components-rc-calendar-time-picker-panel .rc-time-picker-panel-select {
  width: 84px;
}
.rbo-components-rc-calendar-time-picker-panel .rc-time-picker-panel-select ul {
  max-height: 217px;
}
.rbo-components-rc-calendar-time-picker-panel .rc-time-picker-panel-select li {
  text-align: center;
  padding: 0;
}
.rbo-components-rc-calendar-time-picker-wrap {
  float: left;
  width: 100%;
}
.rbo-components-rc-calendar-time-picker-wrap .rc-time-picker {
  width: 100%;
}
.rbo-components-rc-calendar-time-picker-wrap .rc-time-picker-input {
  padding: 0;
  border: 1px solid transparent;
  outline: 0;
  height: 22px;
}
.rbo-components-rc-calendar-time-picker-wrap .rc-time-picker-icon {
  display: none;
}
.rbo-components-rc-calendar-input {
  border: 1px solid transparent;
  width: 100%;
  color: #3C3C3C;
  cursor: text;
  line-height: 1.5;
  outline: 0;
  height: 22px;
}
.rbo-components-rc-calendar-input-invalid {
  border-color: #D91E00;
}
.rbo-components-rc-calendar-clear-btn {
  z-index: 9999;
  position: absolute;
  right: 6px;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 6px;
  margin: 0;
}
.rbo-components-rc-calendar-clear-btn:after {
  content: "x";
  font-size: 12px;
  color: #737373;
  display: inline-block;
  line-height: 1;
  width: 20px;
  transition: color 0.3s ease;
}
.rbo-components-rc-calendar-clear-btn:hover:after {
  color: #3C3C3C;
}
.rbo-components-rc-calendar-picker {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1000;
}
.rbo-components-rc-calendar-picker-hidden {
  display: none;
}
.rbo-components-rc-calendar-picker-slide-up-enter {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
.rbo-components-rc-calendar-picker-slide-up-appear {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
.rbo-components-rc-calendar-picker-slide-up-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
.rbo-components-rc-calendar-picker-slide-up-enter.rbo-components-rc-calendar-picker-slide-up-enter-active.rbo-components-rc-calendar-picker-placement-bottomLeft,
.rbo-components-rc-calendar-picker-slide-up-enter.rbo-components-rc-calendar-picker-slide-up-enter-active.rbo-components-rc-calendar-picker-placement-bottomRight,
.rbo-components-rc-calendar-picker-slide-up-appear.rbo-components-rc-calendar-picker-slide-up-appear-active.rbo-components-rc-calendar-picker-placement-bottomLeft,
.rbo-components-rc-calendar-picker-slide-up-appear.rbo-components-rc-calendar-picker-slide-up-appear-active.rbo-components-rc-calendar-picker-placement-bottomRight {
  animation-name: rcDropdownSlideUpIn;
  animation-play-state: running;
}
.rbo-components-rc-calendar-picker-slide-up-enter.rbo-components-rc-calendar-picker-slide-up-enter-active.rbo-components-rc-calendar-picker-placement-topLeft,
.rbo-components-rc-calendar-picker-slide-up-enter.rbo-components-rc-calendar-picker-slide-up-enter-active.rbo-components-rc-calendar-picker-placement-topRight,
.rbo-components-rc-calendar-picker-slide-up-appear.rbo-components-rc-calendar-picker-slide-up-appear-active.rbo-components-rc-calendar-picker-placement-topLeft,
.rbo-components-rc-calendar-picker-slide-up-appear.rbo-components-rc-calendar-picker-slide-up-appear-active.rbo-components-rc-calendar-picker-placement-topRight {
  animation-name: rcDropdownSlideDownIn;
  animation-play-state: running;
}
.rbo-components-rc-calendar-picker-slide-up-leave.rbo-components-rc-calendar-picker-slide-up-leave-active.rbo-components-rc-calendar-picker-placement-bottomLeft,
.rbo-components-rc-calendar-picker-slide-up-leave.rbo-components-rc-calendar-picker-slide-up-leave-active.rbo-components-rc-calendar-picker-placement-bottomRight {
  animation-name: rcDropdownSlideUpOut;
  animation-play-state: running;
}
.rbo-components-rc-calendar-picker-slide-up-leave.rbo-components-rc-calendar-picker-slide-up-leave-active.rbo-components-rc-calendar-picker-placement-topLeft,
.rbo-components-rc-calendar-picker-slide-up-leave.rbo-components-rc-calendar-picker-slide-up-leave-active.rbo-components-rc-calendar-picker-placement-topRight {
  animation-name: rcDropdownSlideDownOut;
  animation-play-state: running;
}
@keyframes rcDropdownSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes rcDropdownSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
}
@keyframes rcDropdownSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes rcDropdownSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0);
  }
}
.rbo-components-rc-calendar {
  position: relative;
  outline: none;
  width: 253px;
  list-style: none;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
}
.rbo-components-rc-calendar-date-panel,
.rbo-components-rc-calendar-panel {
  position: relative;
  outline: none;
}
.rbo-components-rc-calendar-week-number {
  width: 286px;
}
.rbo-components-rc-calendar-week-number-cell {
  text-align: center;
}
.rbo-components-rc-calendar-header {
  padding: 0 10px;
  height: 34px;
  line-height: 30px;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #CCCCCC;
}
.rbo-components-rc-calendar-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 0px 5px;
  line-height: 34px;
  text-align: center;
  width: 30px;
}
.rbo-components-rc-calendar-header > a:hover {
  cursor: pointer;
  color: #3F9BD6;
}
.rbo-components-rc-calendar-header .rbo-components-rc-calendar-prev-month-btn {
  position: absolute;
  left: 25px;
}
.rbo-components-rc-calendar-header .rbo-components-rc-calendar-prev-month-btn:after {
  content: '‹';
}
.rbo-components-rc-calendar-header .rbo-components-rc-calendar-next-month-btn {
  position: absolute;
  right: 25px;
}
.rbo-components-rc-calendar-header .rbo-components-rc-calendar-next-month-btn:after {
  content: '›';
}
.rbo-components-rc-calendar-year-select,
.rbo-components-rc-calendar-month-select,
.rbo-components-rc-calendar-day-select {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #3C3C3C;
  padding: 0 8px;
  line-height: 34px;
}
.rbo-components-rc-calendar-year-select:hover,
.rbo-components-rc-calendar-month-select:hover,
.rbo-components-rc-calendar-day-select:hover {
  cursor: pointer;
  color: #3F9BD6;
}
.rbo-components-rc-calendar-prev-month-btn,
.rbo-components-rc-calendar-next-month-btn,
.rbo-components-rc-calendar-prev-year-btn,
.rbo-components-rc-calendar-next-year-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #999999;
  padding: 0 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 34px;
}
.rbo-components-rc-calendar-prev-month-btn:hover,
.rbo-components-rc-calendar-next-month-btn:hover,
.rbo-components-rc-calendar-prev-year-btn:hover,
.rbo-components-rc-calendar-next-year-btn:hover {
  color: #3F9BD6;
}
.rbo-components-rc-calendar-next-year-btn {
  right: 0;
}
.rbo-components-rc-calendar-next-year-btn:after {
  content: '»';
}
.rbo-components-rc-calendar-prev-year-btn {
  left: 0;
}
.rbo-components-rc-calendar-prev-year-btn:after {
  content: '«';
}
.rbo-components-rc-calendar-body {
  padding: 9px 10px 10px;
  height: 217px;
}
.rbo-components-rc-calendar table {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
}
.rbo-components-rc-calendar table,
.rbo-components-rc-calendar td,
.rbo-components-rc-calendar th,
.rbo-components-rc-calendar td {
  border: none;
}
.rbo-components-rc-calendar-table {
  border-spacing: 0;
  margin-bottom: 0;
}
.rbo-components-rc-calendar-column-header {
  line-height: 18px;
  padding: 6px 0;
  width: 33px;
  text-align: center;
}
.rbo-components-rc-calendar-column-header .rbo-components-rc-calendar-column-header-inner {
  display: block;
  font-weight: normal;
}
.rbo-components-rc-calendar-week-number-header .rbo-components-rc-calendar-column-header-inner {
  display: none;
}
.rbo-components-rc-calendar-cell {
  padding: 1px 0;
}
.rbo-components-rc-calendar-date {
  display: block;
  margin: 0 auto;
  color: #3C3C3C;
  width: 26px;
  height: 26px;
  padding: 0;
  background: transparent;
  line-height: 26px;
  text-align: center;
}
.rbo-components-rc-calendar-date:hover {
  background: #ECF9FF;
  cursor: pointer;
}
.rbo-components-rc-calendar-selected-day .rbo-components-rc-calendar-date {
  background: #d9f4fe;
}
.rbo-components-rc-calendar-selected-date .rbo-components-rc-calendar-date {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-selected-date .rbo-components-rc-calendar-date:hover {
  background: #1990FE;
}
.rbo-components-rc-calendar-today .rbo-components-rc-calendar-date {
  border: 1px solid #1990FE;
}
.rbo-components-rc-calendar-disabled-cell .rbo-components-rc-calendar-date {
  cursor: not-allowed;
  color: #bcbcbc;
  background: #f3f3f3;
  width: auto;
}
.rbo-components-rc-calendar-disabled-cell .rbo-components-rc-calendar-date:hover {
  background: #f3f3f3;
}
.rbo-components-rc-calendar-disabled-cell-first-of-row .rbo-components-rc-calendar-date {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rbo-components-rc-calendar-disabled-cell-last-of-row .rbo-components-rc-calendar-date {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rbo-components-rc-calendar-last-month-cell .rbo-components-rc-calendar-date,
.rbo-components-rc-calendar-next-month-btn-day .rbo-components-rc-calendar-date {
  color: #BBBBBB;
}
.rbo-components-rc-calendar-footer {
  border-top: 1px solid #CCCCCC;
  padding: 10px 0;
  text-align: center;
  position: relative;
}
.rbo-components-rc-calendar-footer .rc-time-picker {
  width: 90px;
}

.rbo-components-rc-calendar-footer .rbo-components-rc-calendar-extra-btn {
  position: absolute;
  right: 12px;
  border: 0;
  background: none;
  outline: none;
}

.rbo-components-rc-calendar-footer .rc-time-picker-input {
  height: 24px;
}
.rbo-components-rc-calendar-footer-show-ok {
  text-align: right;
}
.rbo-components-rc-calendar-footer-show-ok .rbo-components-rc-calendar-footer-btn {
  padding-right: 12px;
}
.rbo-components-rc-calendar-footer-show-ok .rbo-components-rc-calendar-time-picker-btn {
  margin-left: 0;
  padding: 0 12px;
}
.rbo-components-rc-calendar-footer-show-ok .rbo-components-rc-calendar-today-btn {
  float: left;
  padding-left: 12px;
}
.rbo-components-rc-calendar-footer-btn {
  margin-top: 2px;
}

.rbo-components-rc-calendar-footer-btn:after {
  content: 'x';
  height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both;
}
.rbo-components-rc-calendar-time-picker-btn {
  margin-left: 10px;
}
.rbo-components-rc-calendar-today-btn,
.rbo-components-rc-calendar-ok-btn,
.rbo-components-rc-calendar-extra-btn,
.rbo-components-rc-calendar-time-picker-btn {
  display: inline-block;
  text-align: center;
  color: #E58900;
}
.rbo-components-rc-calendar-today-btn:hover,
.rbo-components-rc-calendar-ok-btn:hover,
.rbo-components-rc-calendar-extra-btn:hover,
.rbo-components-rc-calendar-time-picker-btn:hover {
  cursor: pointer;
  color: #3F9BD6;
}
.rbo-components-rc-calendar-today-btn-disabled,
.rbo-components-rc-calendar-ok-btn-disabled,
.rbo-components-rc-calendar-extra-btn-disabled,
.rbo-components-rc-calendar-time-picker-btn-disabled {
  color: #BBBBBB;
}
.rbo-components-rc-calendar-today-btn-disabled:hover,
.rbo-components-rc-calendar-ok-btn-disabled:hover,
.rbo-components-rc-calendar-extra-btn-disabled:hover,
.rbo-components-rc-calendar-time-picker-btn-disabled:hover {
  color: #BBBBBB;
}
.rbo-components-rc-calendar-today-btn {
  padding-left: 10px;
}
.rbo-components-rc-calendar-time-input {
  height: 25px;
  position: relative;
  display: inline-block;
  margin: 0 0;
  padding: 4px 10px;
  border: 1px solid #d9d9d9;
  background-color: #FFFFFF;
  color: #3C3C3C;
  line-height: 1.5;
  width: 40px;
}
.rbo-components-rc-calendar-time-input:hover {
  border-color: #3F9BD6;
}
.rbo-components-rc-calendar-time-input:focus {
  border-color: #3F9BD6;
  box-shadow: 0 0 3px #3F9BD6;
}
.rbo-components-rc-calendar-time-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  z-index: 10;
  position: absolute;
  outline: none;
}
.rbo-components-rc-calendar-time-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #CCCCCC;
}
.rbo-components-rc-calendar-time-panel-body {
  padding: 9px 10px 10px;
}
.rbo-components-rc-calendar-time-panel-title {
  width: 180px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  height: 30px;
  line-height: 22px;
}
.rbo-components-rc-calendar-time-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 255px;
  border-collapse: separate;
}
.rbo-components-rc-calendar-time-panel-cell {
  text-align: center;
  height: 42px;
  vertical-align: middle;
}
.rbo-components-rc-calendar-time-panel-time {
  line-height: 26px;
  display: block;
  width: 26px;
  margin: 0 auto;
}
.rbo-components-rc-calendar-time-panel-time:hover {
  background: #ECF9FF;
  cursor: pointer;
}
.rbo-components-rc-calendar-time-panel-selected-cell .rbo-components-rc-calendar-time-panel-time {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-time-panel-selected-cell .rbo-components-rc-calendar-time-panel-time:hover {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-month-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  z-index: 10;
  position: absolute;
  outline: none;
}
.rbo-components-rc-calendar-month-panel-hidden {
  display: none;
}
.rbo-components-rc-calendar-month-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 30px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #CCCCCC;
}
.rbo-components-rc-calendar-month-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}
.rbo-components-rc-calendar-month-panel-header > a:hover {
  cursor: pointer;
  color: #3F9BD6;
}
.rbo-components-rc-calendar-month-panel-prev-year-btn,
.rbo-components-rc-calendar-month-panel-next-year-btn {
  position: absolute;
  top: 0;
}
.rbo-components-rc-calendar-month-panel-next-year-btn:after {
  content: '»';
}
.rbo-components-rc-calendar-month-panel-prev-year-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
}
.rbo-components-rc-calendar-month-panel-prev-year-btn:after {
  content: '«';
}
.rbo-components-rc-calendar-month-panel .rbo-components-rc-calendar-month-panel-year-select {
  width: 180px;
}
.rbo-components-rc-calendar-month-panel-year-select-arrow {
  display: none;
}
.rbo-components-rc-calendar-month-panel-next-year-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
}
.rbo-components-rc-calendar-month-panel-body {
  padding: 9px 10px 10px;
  position: absolute;
  top: 34px;
  bottom: 0;
}
.rbo-components-rc-calendar-month-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.rbo-components-rc-calendar-month-panel-cell {
  text-align: center;
}
.rbo-components-rc-calendar-month-panel-cell .rbo-components-rc-calendar-month-panel-month {
  display: block;
  width: 46px;
  margin: 0 auto;
  color: #3C3C3C;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}
.rbo-components-rc-calendar-month-panel-cell .rbo-components-rc-calendar-month-panel-month:hover {
  background: #ECF9FF;
  cursor: pointer;
}
.rbo-components-rc-calendar-month-panel-cell-disabled .rbo-components-rc-calendar-month-panel-month {
  color: #bfbfbf;
}
.rbo-components-rc-calendar-month-panel-cell-disabled .rbo-components-rc-calendar-month-panel-month:hover {
  background: #FFFFFF;
  cursor: not-allowed;
}
.rbo-components-rc-calendar-month-panel-selected-cell .rbo-components-rc-calendar-month-panel-month {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-month-panel-selected-cell .rbo-components-rc-calendar-month-panel-month:hover {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-month-header-wrap {
  position: relative;
  height: 308px;
}
.rbo-components-rc-calendar-year-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  z-index: 10;
  position: absolute;
  outline: none;
}
.rbo-components-rc-calendar-year-panel-hidden {
  display: none;
}
.rbo-components-rc-calendar-year-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 30px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #CCCCCC;
}
.rbo-components-rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}
.rbo-components-rc-calendar-year-panel-header > a:hover {
  cursor: pointer;
  color: #3F9BD6;
}
.rbo-components-rc-calendar-year-panel-prev-decade-btn,
.rbo-components-rc-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}
.rbo-components-rc-calendar-year-panel-next-decade-btn:after {
  content: '»';
}
.rbo-components-rc-calendar-year-panel-prev-decade-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
}
.rbo-components-rc-calendar-year-panel-prev-decade-btn:after {
  content: '«';
}
.rbo-components-rc-calendar-year-panel .rbo-components-rc-calendar-year-panel-decade-select {
  width: 180px;
}
.rbo-components-rc-calendar-year-panel-decade-select-arrow {
  display: none;
}
.rbo-components-rc-calendar-year-panel-next-decade-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
}
.rbo-components-rc-calendar-year-panel-body {
  padding: 9px 10px 10px;
  position: absolute;
  bottom: 0;
  top: 34px;
}
.rbo-components-rc-calendar-year-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.rbo-components-rc-calendar-year-panel-cell {
  text-align: center;
}
.rbo-components-rc-calendar-year-panel-year {
  display: block;
  width: 46px;
  margin: 0 auto;
  color: #3C3C3C;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}
.rbo-components-rc-calendar-year-panel-year:hover {
  background: #ECF9FF;
  cursor: pointer;
}
.rbo-components-rc-calendar-year-panel-selected-cell .rbo-components-rc-calendar-year-panel-year {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-year-panel-selected-cell .rbo-components-rc-calendar-year-panel-year:hover {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-year-panel-last-decade-cell .rbo-components-rc-calendar-year-panel-year,
.rbo-components-rc-calendar-year-panel-next-decade-cell .rbo-components-rc-calendar-year-panel-year {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.25);
}
.rbo-components-rc-calendar-decade-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  z-index: 10;
  position: absolute;
  outline: none;
}
.rbo-components-rc-calendar-decade-panel-hidden {
  display: none;
}
.rbo-components-rc-calendar-decade-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #CCCCCC;
}
.rbo-components-rc-calendar-decade-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  width: 30px;
}
.rbo-components-rc-calendar-decade-panel-header > a:hover {
  cursor: pointer;
  color: #3F9BD6;
}
.rbo-components-rc-calendar-decade-panel-prev-century-btn,
.rbo-components-rc-calendar-decade-panel-next-century-btn {
  position: absolute;
  top: 0;
}
.rbo-components-rc-calendar-decade-panel-next-century-btn:after {
  content: '»';
}
.rbo-components-rc-calendar-decade-panel-prev-century-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
}
.rbo-components-rc-calendar-decade-panel-prev-century-btn:after {
  content: '«';
}
.rbo-components-rc-calendar-decade-panel-next-century-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
}
.rbo-components-rc-calendar-decade-panel-body {
  padding: 9px 10px 10px;
  position: absolute;
  bottom: 0;
  top: 34px;
}
.rbo-components-rc-calendar-decade-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.rbo-components-rc-calendar-decade-panel-cell {
  text-align: center;
}
.rbo-components-rc-calendar-decade-panel-decade {
  display: block;
  margin: 0 auto;
  color: #3C3C3C;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}
.rbo-components-rc-calendar-decade-panel-decade:hover {
  background: #ECF9FF;
  cursor: pointer;
}
.rbo-components-rc-calendar-decade-panel-selected-cell .rbo-components-rc-calendar-decade-panel-decade {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-decade-panel-selected-cell .rbo-components-rc-calendar-decade-panel-decade:hover {
  background: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-decade-panel-last-century-cell .rbo-components-rc-calendar-decade-panel-decade,
.rbo-components-rc-calendar-decade-panel-next-century-cell .rbo-components-rc-calendar-decade-panel-decade {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.25);
}
.rbo-components-rc-calendar-range {
  width: 502px;
  overflow: hidden;
}
.rbo-components-rc-calendar-range-part {
  width: 250px;
  position: relative;
}
.rbo-components-rc-calendar-range-part .rbo-components-rc-calendar-time-picker {
  top: 69px;
}
.rbo-components-rc-calendar-range-part .rbo-components-rc-calendar-time-picker-panel-select {
  width: 77px;
}
.rbo-components-rc-calendar-range-left {
  float: left;
}
.rbo-components-rc-calendar-range-left .rbo-components-rc-calendar-time-picker-panel-select:last-child {
  border-right: 1px solid #DFDFDF;
}
.rbo-components-rc-calendar-range-right {
  float: right;
}
.rbo-components-rc-calendar-range-right .rbo-components-rc-calendar-time-picker-panel {
  left: 21px;
}
.rbo-components-rc-calendar-range-right .rbo-components-rc-calendar-time-picker-panel-select:first-child {
  border-left: 1px solid #DFDFDF;
}
.rbo-components-rc-calendar-range-middle {
  position: absolute;
  margin-left: -10px;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-date-panel::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-input-wrap {
  height: 35px;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-input,
.rbo-components-rc-calendar-range .rc-time-picker-input {
  padding: 1px 7px;
  height: 22px;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-body,
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-decade-panel-body,
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-year-panel-body,
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-month-panel-body {
  border-bottom: 1px solid #DFDFDF;
}
.rbo-components-rc-calendar-range.rbo-components-rc-calendar-week-number {
  width: 574px;
}
.rbo-components-rc-calendar-range.rbo-components-rc-calendar-week-number .rbo-components-rc-calendar-range-part {
  width: 286px;
}
.rbo-components-rc-calendar-range.rbo-components-rc-calendar-week-number .rbo-components-rc-calendar-range-part .rbo-components-rc-calendar-time-picker {
  top: 69px;
}
.rbo-components-rc-calendar-range.rbo-components-rc-calendar-week-number .rbo-components-rc-calendar-range-part .rbo-components-rc-calendar-time-picker-panel-select {
  width: 89px;
}
.rbo-components-rc-calendar-range.rbo-components-rc-calendar-week-number .rbo-components-rc-calendar-range-right .rbo-components-rc-calendar-time-picker-panel {
  left: 36px;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-year-panel,
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-month-panel,
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-decade-panel {
  top: 35px;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-month-panel .rbo-components-rc-calendar-year-panel {
  top: 0;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-decade-panel-table,
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-year-panel-table,
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-month-panel-table {
  height: 198px;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-in-range-cell {
  background: #ebf4f8;
}
.rbo-components-rc-calendar-range-bottom {
  text-align: right;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-footer {
  border-top: none;
  padding: 0;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-footer-btn {
  padding: 10px 12px 10px 0;
}
.rbo-components-rc-calendar-range .rbo-components-rc-calendar-ok-btn {
  position: static;
}

.rbo-components-rc-calendar-range .rbo-components-rc-calendar-today-btn {
  float: left;
}
.rbo-components-rc-calendar-full {
  width: 275px;
}
.rbo-components-rc-calendar-full-header {
  padding: 5px 10px;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #CCCCCC;
  overflow: hidden;
}
.rbo-components-rc-calendar-full-header-month-select,
.rbo-components-rc-calendar-full-header-year-select {
  width: 70px;
  float: right;
  margin-right: 5px;
}
.rbo-components-rc-calendar-full-header-switcher {
  float: right;
  display: inline-block;
}
.rbo-components-rc-calendar-full-header-switcher-normal:hover {
  border-color: #3F9BD6;
  box-shadow: 0 0 2px rgba(45, 183, 245, 0.8);
  cursor: pointer;
}
.rbo-components-rc-calendar-full-header-switcher-focus {
  border-color: #1990FE;
  background-color: #1990FE;
  color: #FFFFFF;
}
.rbo-components-rc-calendar-full-header-switcher > span {
  float: left;
  height: 28px;
  line-height: 24px;
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  color: #3C3C3C;
}
.rbo-components-rc-calendar-full-header-switcher > span:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.rbo-components-rc-calendar-full-header-switcher > span:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}
.rbo-components-rc-calendar-fullscreen {
  width: auto;
}
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-full-header {
  border-bottom: none;
}
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-column-header {
  text-align: right;
  padding-right: 12px;
}
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-cell {
  padding: 0;
}
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-cell .rbo-components-rc-calendar-date,
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-month-panel-cell .rbo-components-rc-calendar-month-panel-month {
  display: block;
  height: 116px;
  width: auto;
  margin: 0 4px;
  border: none;
  border-top: 2px solid #EEEEEE;
  text-align: right;
  padding-right: 8px;
}
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-selected-day .rbo-components-rc-calendar-date,
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-month-panel-selected-cell .rbo-components-rc-calendar-month-panel-month {
  background-color: #ECF9FF;
  color: #3C3C3C;
}
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-today .rbo-components-rc-calendar-date,
.rbo-components-rc-calendar-fullscreen .rbo-components-rc-calendar-month-panel-selected-cell .rbo-components-rc-calendar-month-panel-month {
  border-top-color: #3FC7FA;
  color: #3FC7FA;
}
